# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
logs/

# Environment variables
.env
.venv
